
/* facts   */

.facts {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 600px;
    background: url(./img/fact-bg.png) no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 2;
  
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 32, 51, 0.8);
      z-index: 0;
    }
  
    .facts__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 75px 0 158px;
  
      .facts__var {
        margin-right: 170px;
        text-align: center;
  
        &:last-child {
          margin-right: 0px;
        }
  
        .facts__image {
          width: 60px;
          height: 60px;
          display: block;
          padding: 45px;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 auto;
        }
  
        .facts__title {
          padding-top: 51px;
          font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 60px;
          color: #fff;
        }
  
        .facts__descr {
          padding-top: 18px;
          font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 18px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }