
/* facts   */

.facts {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 600px;
    background: url(/img/fact-bg.png) no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 2;
  
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 32, 51, 0.8);
      z-index: 0;
    }
  
    .facts__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 75px 0 158px;
  
      .facts__var {
        margin-right: 170px;
        text-align: center;
  
        &:last-child {
          margin-right: 0px;
        }
  
        .facts__image {
          width: 60px;
          height: 60px;
          display: block;
          padding: 45px;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 auto;
        }
  
        .facts__title {
          padding-top: 51px;
          font-weight: bold;
          font-size: 60px;
          color: #fff;
        }
  
        .facts__descr {
          padding-top: 18px;
          font-size: 18px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px){

    .facts {
      max-width: 480px;
      min-width: 320px;
      min-height: auto;
    
      .facts__inner {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 30px 0; 
    
        .facts__var {
          width: 150px;
          margin: 0 auto;
          padding-bottom: 20px;
    
          &:last-child {
            margin: 0 auto;
            padding-bottom: 20px;
          }
    
          .facts__image {
            width: 30px;
            height: 30px;
            padding: 10px;
          }
    
          .facts__title {
            padding-top: 10px;
            font-size: 25px;
          }
    
          .facts__descr {
            padding-top: 8px;
            font-size: 12px;
          }
        }
      }
    }

  }

  @media only screen and (min-width : 768px) and (max-width : 1024px){

    .facts {
      max-width: 1024px;
      min-width: 768px;
      min-height: 400px;
    
      .facts__inner {
        padding: 50px 0;   
    
        .facts__var {
          width: 90%; 
          margin-right: 0px;
    
          .facts__image {
            width: 40px;
            height: 40px;
            padding: 20px;
          }
    
          .facts__title {
            padding-top: 20px;
            font-size: 30px;
          }
    
          .facts__descr {
            padding-top: 18px;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
          }
        }
      }
    }

  }