
/* features */

.features {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f4f7f9;
    font-family: 'Open Sans', sans-serif;
  
    .features__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 67px 0 80px;
  
      .features__var {
        margin-right: 44px;
        display: flex;
  
        &:last-child {
          margin-right: 0px;
        }
  
        .features__image {
          display: block;
          margin-right: 17px;
        }
  
        .features__title {
          font-weight: 600;
          font-size: 20px;
          color: rgba(6, 32, 51, 255);
          padding-bottom: 22px;
        }
  
        .features__descr {
          font-size: 13px;
          color: rgba(6, 32, 51, 255);
          line-height: 1.5;
        }
      }
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px){
    
    .features {
      max-width: 480px;
      min-width: 320px;
    
      .features__inner {
        display: block;
        padding: 30px 0px;  
    
        .features__var {
          margin: 0px 20px 20px;
    
          &:last-child {
            margin: 0px 20px;
          }
    
          .features__image {
            margin-right: 10px;
          }
    
          .features__title {
            padding-bottom: 10px;
          }
    
          .features__descr {
            text-align: justify;
          }
        }
      }
    }

  }

  @media only screen and (min-width : 768px) and (max-width : 1024px) {
  
    .features {
      max-width: 1024px;
      min-width: 768px;
    
      .features__inner {
        width: 95%;
        justify-content: space-around;
        padding: 30px 0px 50px;    
        margin: 0 auto;
    
        .features__var {
          margin-right: 20px;
    
          .features__image {
            margin-right: 10px;
          }
    
          .features__title {
            padding-bottom: 10px;
          }
        }
      }
    }
  
  }