@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .container {
        max-width: 1024px;
        min-width : 768px;
    }
    .unit-title{
        padding-top: 50px;
    }
    .heart{
        padding-top: 25px;
    }
    .unit-article{
        width: 95%;
        margin: 0 auto;
        padding-top: 25px;
    }
    /* header */

    .header {
        max-width: 1024px;
        min-width: 768px;
        min-height: 565px;
    }
    .header__inner {
        justify-content: space-around;
    }
    .navigation {
        font-size: 14px;
    }
    .intro__inner{
        margin-bottom: 50px;
    }
    .intro__title{
        padding: 155px 0 22px;
    }
    /* features */

    .features{
        max-width: 1024px;
        min-width: 768px;
    }
    .features__inner{
        width: 95%;
        justify-content: space-around;
        padding: 30px 0px 50px;    
        margin: 0 auto;
    }
    .features__var{
        margin-right: 20px;
    }
    .features__image{
        margin-right: 10px;
    }
    .features__title{
        padding-bottom: 10px;
    }

    /* works */

    .works{
        max-width: 1024px;
        min-width: 768px;
    }
    .wrap{
        max-width: 1024px;
        min-width: 768px;
    }
    .works-menu {
        padding: 30px 0;
    }
    
    /* team */

    .team{
        max-width: 1024px;
        min-width: 768px;
    }
    .crew {
        max-width: 720px;
        margin: 30px auto 60px;
    } 
    .crew__img{
        max-width: 180px;
        height: 200px; 
    }
    .crew__title{
        width: 90%; 
        padding-top: 15px;
        font-size: 14px;
    }
    .crew__descr{
        width: 90%; 
        padding-top: 15px;
        font-size: 12px;
        line-height: 1.2;
    }
    .crew__social{
        padding-top: 25px;
    }
    .crew__social__link{
        width: 35px;
        height: 35px;    
    }
    .crew__suptitle{
        font-size: 16px;
        padding: 15px 0 10px;
    }
    .crew__supdescr{
        font-size: 11px;
    }

    /* facts   */

    .facts{
        max-width: 1024px;
        min-width: 768px;
        min-height: 400px;
    }
    .facts__inner{
        padding: 50px 0;   
    }
    .facts__var{
        width: 90%; 
        margin-right: 0px;
    }
    .facts__image{
        width: 40px;
        height: 40px;
        padding: 20px;
    }
    .facts__title{
        padding-top: 20px;
        font-size: 30px;
    }
    .facts__descr{
        padding-top: 18px;
        font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    /* discuss */

    .discuss{
        max-width: 1024px;
        min-width: 768px;
    }
    .discuss__inner{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 50px 0; 
    }
    .leftside{
        width: 30%;
    }
    .leftside__title{
        font-size: 20px;
        padding-bottom: 35px;
    }
    .leftside__descr{
        font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
        line-height: 1.5;
        font-size: 14px;
        color: rgba(6, 32, 51, 255);
    }
    .rightside{
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
    .rightside__img{
        padding: 30px 0 0;
    }
    .middleside{
        width: 70%;
    }
    .middleside__title{
        font-size: 20px;
        padding-bottom: 25px;
    }
    .point{
        position: absolute;
        top: 45%;
        left: 12%;
        bottom: 5%;
        right: 68%;
        z-index:100;
    }
    /* footer */

    .footer{
        max-width: 1024px;
        min-width: 768px;
    }
    .footer__inner{
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .logo-part{
        padding-right: 20px;
    }
    .footer__logo {
        padding-bottom: 20px;
    }
    .footer__descr{
        font-size: 11px;
        line-height: 1.5; 
    }
    .footer__title{
        padding-bottom: 22px;
    }
    .footer__textarea textarea{
        width: 90%;
        background: transparent;
        margin-bottom: 10px;
    }
    .footer__button button{
        border: none;
        background: transparent;
    }
    .explore-part__inner{
        display: flex;
        justify-content: space-between;
    }
    .part-two{
        padding: 0 20px;
    }
    .quote{
        padding-top: 45px;
    }






}