
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    filter: brightness(100%);
}
.unit-title{
    font-family: "﻿OpenSans-Extrabold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 28px;
    color: rgba(14, 180, 147, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}
.heart{
    display: block;
    margin: 0 auto;
    padding-top: 25px;
}
.unit-article{
    font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 18px;
    color: rgba(6, 32, 51, 255);
    text-align: center;
    padding-top: 36px;
    line-height: 1.5;
}

/* header */

.header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
    min-height: 800px;
    background: url(./img/header-bd2.png) no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.header::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/header-bd1.png) no-repeat center top;
    background-size: cover;
    z-index: 0;
  }
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(0,0,0,0.3); */
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.logo {
    color: #fff;
    
    font-size: 28px;
    margin-right: 27px;
}
.logo-text{
    font-size: 16pt;
    color: rgba(50, 176, 238, 255);
}
.header-menu {
    font-size: 13px;
    padding: 35px 0 25px;
}
.header-menu__link {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}
.intro{
    text-align: center;
}
.intro__inner{
    margin-bottom: 109px;
}
.intro__title{
    font-size: 62px;
    color: #fff;
    padding: 394px 0 22px;
}
.intro__suptitle{
    font-size: 48px;
    color: #fff;
    padding-bottom: 22px;
}
.intro__descr{
    font-size: 18px;
    color: #fff;
    margin-bottom: 109px;
}
.social{
    padding-bottom: 50px;
}
.social__link img{
    opacity: 0.25;
    margin-right: 16px;
}
.social img:hover{
    opacity: 1;
}

/* features */

.features{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f4f7f9;
}
.features__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 0 80px;    
}
.features__var{
    margin-right: 44px;
    display: flex;
}
.features__var:last-child{
    margin-right: 0px;
}
.features__image{
    display: block;
    margin-right: 17px;
}
.features__title{
    font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 20px;
    color: rgba(6, 32, 51, 255);
    padding-bottom: 22px;
}
.features__descr{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 13px;
    color: rgba(6, 32, 51, 255);
    line-height: 1.5;
}

/* works */

.works{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.wrap{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.works-menu {
    padding: 58px 0 46px;
    font-family: "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.works-menu__link {
    display: inline-block;
    margin-left: 50px;
    color: rgba(6, 32, 51, 255);
    text-decoration: none;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
}
.works-menu__link:hover {
    color: #fff;
    background-color:  #0eb493;
}
.gallery{
    width: 100%;
}
.gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gallery__img{
    max-width: 100%;
    width: 400px;
    height: 300px;
    display: block;
    object-fit: cover;
}
.gallery__box{
    position: relative; 
}
.ladore{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/labore.png);
    color: #fff;
    text-align: center;
    transition: all 0.5s ease;   
}
.ladore__img img{
    padding-top: 94px;
    width: 20px;
    height: 12px;
    padding: 14px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 94px auto 0;
}
.ladore__title{
    padding-top: 29px;
    padding-bottom: 10px;
    font-family: "OpenSans", "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.ladore__descr{
    margin: 0;
}
.gallery__box:hover .ladore{
    display: block;                   
}

/* team */

.team{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.crew__container{
    padding: 108px 0 87px;
    display: flex;
    justify-content: space-between;
}
.crew__box__inner{
    position: relative;
}
.crew__img{
    display: block;
    width: 100%;
    max-width: 270px;
    height: 300px; 
    filter: grayscale(100%);
    image-rendering: crisp-edges;
    object-fit: cover;
}
.crew__info{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/labore.png);
    color: #fff;
    text-align: center;
    transition: all 0.5s ease;
}
.crew__title{
    max-width: 220px; 
    padding-top: 23px;
    font-family: "OpenSans", "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    font-weight: bold;
    font-size: 16px;
    color: #ffff;
    margin: 0 auto;
    line-height: 1.2;
}
.crew__descr{
    max-width: 220px; 
    padding-top: 15px;
    font-family: "OpenSans", "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 16px;
    color: #ffff;
    margin: 0 auto;
    line-height: 1.2;
}
.crew__social{
    padding-top: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crew__social__link{
    width: 42px;
    height: 42px;
    margin-right: 4px;
    background-image: url(./img/team-link.png);
}
.crew__social img{
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}
.crew__suptitle{
    font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 18px;
    font-weight: bold;
    padding: 21px 0 14px;
    text-align: center; 
}
.crew__supdescr{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 13px;
    color: #000;
    opacity: 0.5;
    text-align: center; 
}
.crew__box__inner:hover .crew__info{
    display: block;                   
}
.crew__img:hover .crew__suptitle{
    color: #0eb493;                
}

/* facts   */

.facts{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 600px;
    background: url(./img/fact-bg.png) no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.facts::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6,32,51,0.8);
    z-index: 0;
  }
.facts__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 0 158px;   
}
.facts__var{
    margin-right: 170px;
    text-align: center;
}
.facts__var:last-child{
    margin-right: 0px;
}
.facts__image{
    display: block;
    padding: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}
.facts__title{
    padding-top: 51px;
    font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 60px;
    color: #fff;
}
.facts__descr{
    padding-top: 18px;
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

/* discuss */

.discuss{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.discuss__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 83px 0 107px; 
}
.leftside{
    width: 25%;
}
.leftside__title{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-weight: bold;
    font-size: 22px;
    color: rgba(6, 32, 51, 255);
    padding-bottom: 35px;
    line-height: 1.5;
}
.leftside__descr{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    line-height: 1.5;
    font-size: 16px;
    color: rgba(6, 32, 51, 255);
}
.rightside{
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.rightside__img{
    padding: 0 0 25px 0;
}
.middleside{
    width: 65%;
}
.middleside__title{
    font-family: "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 24px;
    color: rgba(6, 32, 51, 255);
    font-weight: bold;
    padding-bottom: 50px;
    line-height: 1.5;
}
.form-control{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 13px;
    color: rgba(91, 100, 110, 255);
    padding-bottom: 21px;
}
.middleside__input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middleside__input input{
    width: 48%;
    border: none;
    box-shadow: 0 1px 0 #cccccc;
}
.middleside__textarea{
    padding-top: 47px;
}
.middleside__textarea textarea{
    width: 100%;
    border: none;
    box-shadow: 0 1px 0 #cccccc;
    overflow: auto;
}
.middleside__button{
    padding-top: 38px;
    text-align: right;
}
.middleside__button button{
    border: none;
    background: transparent;
}
.middleside__button button a{
    color: #000;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
}
.middleside__button button img{
    padding-right: 12px;   
}
.map{
    width: 100%;
    border-bottom: 5px solid #000;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 215px;
    background: url(./img/map.png) no-repeat center top;
    background-size: cover;
    position: relative;
}
.point{
    position: absolute;
    top: 45%;
    left: 31%;
    bottom: 5%;
    right: 68%;
    z-index:100;
}

/* footer */

.footer{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./img/labore.png) no-repeat center top;
    background-size: cover;
}
.footer__inner{
    padding: 99px 0 127px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-part__descr{
    font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 13px;
    color: #fff;
    padding-top: 44px;
}
