

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: green;
}
.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 28px;
    margin-right: 27px;
}

.nav {
    font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 13px;
    padding: 35px 0 25px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}