
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.unit-title{
    font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 28px;
    color: rgba(14, 180, 147, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}
.heart{
    display: block;
    margin: 0 auto;
    padding-top: 25px; 
}

/* header */

.header {
    width: 100%;
    font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
    background-color: #0a2724;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 394px;
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.logo {
    color: #fff;
    
    font-size: 28px;
    margin-right: 27px;
}
.logo-text{
    font-size: 16pt;
    color: rgba(50, 176, 238, 255);
}
.nav {
    font-size: 13px;
    padding: 35px 0 25px;

}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}
.intro{
    text-align: center;
}
.intro__inner{
    margin-bottom: 109px;
}
.intro__title{
    font-size: 62px;
    color: #fff;
    padding-bottom: 22px;
}
.intro__suptitle{
    font-size: 48px;
    color: #fff;
    padding-bottom: 22px;
}
.intro__descr{
    font-size: 18px;
    color: #fff;
    margin-bottom: 109px;
}
.social{
    padding-bottom: 50px;
}
.social__link img{
    opacity: 0.25;
    margin-right: 16px;
}
.social img:hover{
    opacity: 1;
}

/* features */

.features{
    width: 100%;
    background-color: #f4f7f9;
}


