
/* discuss */

.discuss {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  
    .discuss__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 83px 0 107px;
  
      .leftside {
        width: 25%;
  
        .leftside__title {
          font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
          font-weight: bold;
          font-size: 22px;
          color: rgba(6, 32, 51, 255);
          padding-bottom: 35px;
          line-height: 1.5;
        }
  
        .leftside__descr {
          font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
          line-height: 1.5;
          font-size: 16px;
          color: rgba(6, 32, 51, 255);
        }
      }
  
      .rightside {
        width: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
  
        .rightside__img {
          padding: 0 0 25px 0;
        }
      }
  
      .middleside {
        width: 65%;
  
        .middleside__title {
          font-family: "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 24px;
          color: rgba(6, 32, 51, 255);
          font-weight: bold;
          padding-bottom: 50px;
          line-height: 1.5;
        }
  
        .form-control {
          font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 13px;
          color: rgba(91, 100, 110, 255);
          padding-bottom: 21px;
        }
  
        .middleside__input {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          input {
            width: 48%;
            border: none;
            box-shadow: 0 1px 0 #cccccc;
          }
        }
  
        .middleside__textarea {
          padding-top: 47px;
  
          textarea {
            width: 100%;
            border: none;
            box-shadow: 0 1px 0 #cccccc;
            overflow: auto;
          }
        }
  
        .middleside__button {
          padding-top: 38px;
          text-align: right;
  
          button {
            border: none;
            background: transparent;
  
            a {
              color: #000;
              text-decoration: none;
              padding: 0;
              vertical-align: middle;
            }
  
            img {
              padding-right: 12px;
            }
          }
        }
      }
    }
  
    .map {
      width: 100%;
      border-bottom: 5px solid #000;
      max-width: 1600px;
      margin: 0 auto;
      min-height: 215px;
      background: url(/img/map.png) no-repeat center top;
      background-size: cover;
      position: relative;
  
      .point {
        position: absolute;
        top: 45%;
        left: 31%;
        bottom: 5%;
        right: 68%;
        z-index: 100;
      }
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px){

    .discuss {
      max-width: 480px;
      min-width: 320px;
    
      .discuss__inner {
        display: block;
        padding: 30px 0px;
    
        .leftside {
          width: 100%;
          text-align: center;
    
          .leftside__title {
            font-size: 18px;
            padding-bottom: 10px;
            line-height: 1;
          }
    
          .leftside__descr {
            font-size: 14px;
            line-height: 1.2;
          }
        }
    
        .rightside {
          width: 100%;
          justify-content: space-around;
          align-items: baseline;
          flex-direction: row;
          padding-top: 25px;
    
          .rightside__img {
            padding: 0px;
          }
        }
    
        .middleside {
          margin: 0 auto;
          width: 90%;
    
          .middleside__title {
            font-size: 20px;
            padding: 20px 0;
            line-height: 1;
            text-align: center;
          }
    
          .form-control {
            font-size: 10px;
            padding-bottom: 5px;
          }
    
          .middleside__textarea {
            padding: 20px 0 25px;
          }
    
          .middleside__button {
            vertical-align: ;
            img {
              padding-right: 2px;
            }
          }
        }
      }
    
      .map {
        max-width: 480px;
        min-width: 320px;
        background: url(/img/map.png) no-repeat 32% 32%;
    
        .point {
          position: absolute;
          left: 28%;
        }
      }
    }
    
  }