
/* header */

.header {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Pacifico-Regular", "AdobeInvisFont", "MyriadPro-Regular";
  min-height: 800px;
  background: url(./img/header-bd2.png) no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 2;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/header-bd1.png) no-repeat center top;
    background-size: cover;
    z-index: 0;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      .logo {
        color: #fff;
        font-size: 28px;
        margin-right: 27px;
      }

      .logo-text {
        font-size: 16px;
        color: #0eb493;
      }
    }

    .header-menu {
      .burger-menu {
        display: none;
      }

      .navigation {
        font-size: 13px;
        padding: 35px 0 25px;

        .navigation__link {
          display: inline-block;
          vertical-align: top;
          margin-left: 20px;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .intro {
    text-align: center;

    .intro__inner {
      margin-bottom: 109px;

      .intro__title {
        font-size: 62px;
        color: #fff;
        padding: 394px 0 22px;
      }

      .intro__suptitle {
        font-size: 48px;
        color: #fff;
        padding-bottom: 22px;
      }

      .intro__descr {
        font-size: 18px;
        color: #fff;
        margin-bottom: 109px;
      }
    }

    .social {
      padding-bottom: 50px;

      .social__link img {
        opacity: 0.25;
        margin-right: 16px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .header {
      max-width: 480px;
      min-width: 320px;
      min-height: 565px;
    
      .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    
      .header__logo {
        margin-left: 20px;
        flex-direction: column;
    
        .logo {
          color: #fff;
          font-size: 25px;
          padding-top: 10px;
        }
    
        .logo-text {
          font-size: 15px;
          color: #0eb493;
          padding-top: 10px;
        }
      }
      .header_menu{
        display: block;
        position: relative;
        
        &:hover .navigation{
          opacity: 1;
        }

        .burger-menu {
          display: block;
          margin: 10px 20px;
        }
      
        .header__inner .navigation {
          display: block;
          font-size: 13px;
          margin: 10px 10px 0 20px;
          padding: 5px 20px;
          background: #0eb493; 
          text-align: center;
          border-radius: 15%; 
          position: absolute;
          top: 0;
          left: 41%;
          transition: all .3s linear;
          z-index: 1;
          opacity: 0;
      
          .navigation__link {
            display: block;
            padding: 5px 0;
            margin-left: 0px;
          }
        }
      }
    
      .intro {
    
        .intro__inner {
          margin-bottom: 60px;
    
          .intro__title {
            font-size: 50px;
            padding: 160px 0 30px;
          }
    
          .intro__suptitle {
            font-size: 30px;
            padding-bottom: 20px;
          }
    
          .intro__descr {
            font-size: 15px;
          }
        }
    
        .social {
          padding-bottom: 40px;
        }
      }
    } 
  }