/* team */

.team {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  .crew {
    width: 100%;
    max-width: 1080px;
    margin: 108px auto 215px;
    position: relative;

    input {
      display: none;
    }

    .switch {
      position: absolute;
      left: 0;
      bottom: -40px;
      text-align: center;
      width: 100%;

      label {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 15px;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: #fff;
      }
    }

    #btn1:checked ~ .switch label[for="btn1"], #btn2:checked ~ .switch label[for="btn2"], #btn3:checked ~ .switch label[for="btn3"] {
      background-color: #000;
    }

    #btn1:checked ~ .crew__container .crew__box {
      transform: translate(0);
    }

    #btn2:checked ~ .crew__container .crew__box {
      transform: translate(-540px);
    }

    #btn3:checked ~ .crew__container .crew__box {
      transform: translate(-1080px);
    }

    .crew__container {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      .crew__box {
        width: 100%;
        transition: all 0.5s;

        .crew__box__inner {
          position: relative;

          &:hover .crew__info {
            display: block;
          }

          .crew__img {
            display: block;
            width: 100%;
            max-width: 270px;
            height: 300px;
            filter: grayscale(100%);
            object-fit: cover;
          }

          .crew__info {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/img/labore.png);
            color: #fff;
            text-align: center;
            transition: all 0.5s ease;

            .crew__title {
              max-width: 220px;
              padding-top: 23px;
              font-family: "OpenSans", "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
              font-weight: bold;
              font-size: 16px;
              color: #ffff;
              margin: 0 auto;
              line-height: 1.2;
            }

            .crew__descr {
              max-width: 220px;
              padding-top: 15px;
              font-family: "OpenSans", "OpenSans-Bold", "AdobeInvisFont", "MyriadPro-Regular";
              font-size: 16px;
              color: #ffff;
              margin: 0 auto;
              line-height: 1.2;
            }

            .crew__social {
              padding-top: 67px;
              display: flex;
              align-items: center;
              justify-content: center;

              .crew__social__link {
                width: 42px;
                height: 42px;
                margin-right: 4px;
                background-image: url(/img/team-link.png);
                position: relative;
                display: block;
                margin: 0 auto;

                img {
                  width: 30%;
                  height: 33%;
                  position: absolute;
                  top: 35%;
                  left: 35%;
                }
              }
            }
          }
        }

        .crew__suptitle {
          font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 18px;
          font-weight: bold;
          padding: 21px 0 14px;
          text-align: center;
        }

        .crew__supdescr {
          font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
          font-size: 13px;
          color: #000;
          opacity: 0.5;
          text-align: center;
        }
      }
    }
  }
}

  @media only screen and (min-width : 320px) and (max-width : 480px){

    .team {
      max-width: 480px;
      min-width: 320px;
    
      .crew {
        max-width: 320px;
        margin: 30px auto 60px;

        .crew__container {
          .crew__box {
            .crew__box__inner {
              .crew__img {
                max-width: 160px;
                height: 150px; 
              }
    
              .crew__info {
                .crew__title {
                  max-width: 160px; 
                  padding-top: 10px;
                  font-size: 12px;
                }
    
                .crew__descr {
                  max-width: 160px; 
                  padding-top: 5px;
                  font-size: 8px;
                  line-height: 1;
                }
    
                .crew__social {
                  padding-top: 5px;
    
                  .crew__social__link {
                    width: 42px;
                    height: 42px;
                    margin-right: 4px;
                    background-image: url(/img/team-link.png);
                    position: relative;
                    display: block;
                    margin: 0 auto;
    
                    img {
                      width: 30%;
                      height: 33%;
                      position: absolute;
                      top: 35%;
                      left: 35%;
                    }
                  }
                }
              }
            }
    
            .crew__suptitle {
              font-family: "OpenSans-Semibold", "AdobeInvisFont", "MyriadPro-Regular";
              font-size: 18px;
              font-weight: bold;
              padding: 21px 0 14px;
              text-align: center;
            }
    
            .crew__supdescr {
              font-family: "OpenSans", "AdobeInvisFont", "MyriadPro-Regular";
              font-size: 13px;
              color: #000;
              opacity: 0.5;
              text-align: center;
            }
          }
        }
      }
    }
  }